{% load static %}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alleen Goed Nieuws</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Verwijs naar het CSS-bestand -->
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-logo">
            Logo
        </div>
        <div class="navbar-links">
            <a href="#">Categorie</a>
            <a href="#">Categorie</a>
            <a href="#">Categorie</a>
            <a href="#">Categorie</a>
            <a href="#">NEWS</a>
        </div>
    </nav>

    <!-- Inhoud van de pagina -->
    <div class="content">
        {% block content %}
        <!-- Hier wordt de inhoud van home.html ingevoegd -->
        {% endblock %}
    </div>
</body>
</html>