{% load static %}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alleen Goed Nieuws</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Verwijs naar het CSS-bestand -->
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-logo">
            Logo
        </div>
        <div class="navbar-links">
            {% comment %} we doen niet aan catogrieen omdat het niet in de design zit (het was bron OF catogrie) {% endcomment %}
            <a href="#">Nieuws bron 1</a>
            <a href="#">Nieuws bron 2</a>
            <a href="#">Nieuws bron 3</a>
            <a href="#">Nieuws bron 4</a>
            <a href="#">Nieuws bron 5</a>
        </div>
    </nav>

    <!-- Inhoud van de pagina -->
    <main class="py-8">
        {% block content %}
        <!-- Hier wordt de inhoud van home.html ingevoegd -->
        {% endblock %}
    </main>
</body>
</html>