{% load static %}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alleen Goed Nieuws</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="bg-gray-100">

<!-- Navbar -->
<nav class="navbar bg-dark shadow-md p-4 flex justify-between items-center">
    <div class="navbar-logo text-xl font-bold">
        <a href="{% url 'home' %}">Logo</a>
    </div>
    
    
    <!-- Dynamisch nieuwsbronnen tonen -->
    <div class="navbar-links flex space-x-4 text-dark-600">
        {% for source in sources|slice:":4" %}  <!-- Toon de eerste 4 bronnen -->
            <a href="{% url 'source_articles' source=source %}" class="text-dark-500 hover:underline">
                {{ source }}
            </a>
        {% endfor %}

        {% if sources|length > 4 %}  <!-- Als er meer dan 4 bronnen zijn -->
            <a href="{% url 'all_sources' %}" class="text-dark-500 hover:underline">Alle Bronnen</a>
        {% endif %}
    </div>

    <!-- Zoekfunctie -->
    <form method="GET" action="{% url 'search_articles' %}" class="flex px-8">
        <input 
            type="text" 
            name="q" 
            placeholder="Zoek op titel..." 
            class="border border-gray-300 rounded-l-lg px-4 py-2 w-64 focus:outline-none focus:ring-2 focus:ring-blue-400"
            value="{{ query|default:'' }}"
        />
        <button 
            type="submit" 
            class="bg-blue-500 text-dark px-4 py-2 rounded-r-lg hover:bg-blue-600 transition"
        >
        <span class="material-symbols-outlined">
            search
        </span>
        </button>
    </form>

</nav>

<!-- Inhoud van de pagina -->
<main class="py-8">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
