{% extends 'base.html' %}  <!-- Gebruik de base.html template -->
{% load static %}

{% block content %}  <!-- Begin van de inhoudsblok -->
<div class="news-container">
    {% for article in news_articles %}
        <div class="news-card">
            <h2>{{ article.title }}</h2>
            {% if article.image %}
                <img src="{{ article.image }}" alt="{{ article.title }}">
            {% endif %}
            <p>{{ article.body|truncatewords:30 }}</p>  <!-- Toon een verkorte versie van de tekst -->
            <a href="{% url 'article_detail' article.uri %}">Lees meer</a>  <!-- Link naar de detailpagina -->
        </div>
    {% endfor %}
</div>
{% endblock %}  <!-- Einde van de inhoudsblok -->